@import './Styles/index.scss';

.app-container {
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    width: 300px;
    min-height: 300px;
    margin-top: 60px;
    background: $white;
  }
}
