@import './Styles/index.scss';

.app-container {
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    width: 350px;
    min-height: 300px;
    margin-top: 40px;
    background: $white;
    border-radius: 5px;
    box-shadow: 0 0 4px 3px $shadow;

    .content-header {
      padding: 15px 20px;
      text-align: center;
      border-bottom: 1px solid $border;
      position: relative;

      h3 {
        margin: 0;
        font-size: 1rem;
      }
      img {
        cursor: pointer;
        position: absolute;
        left: 16px;
        top: 11px;
      }
    }

    .content-body {
      padding: 20px;
      border-bottom: 1px solid $border;
    }

    .content-footer {
      padding: 10px 20px;
      font-weight: 500;

      a {
        color: $black;
        text-decoration: none;
      }
    }
  }
}
